.leaflet-control-zoom-home,
.leaflet-control-zoom-locate {
    background: #fff;
    border-top: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-control-zoom-home svg {
    margin: auto;
}

.house-circle {
    background-color: #2196f3; /* Blue circle */
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    box-shadow: 0 0 0 2px white, 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dump-yard-circle {
    background-color: #dc2626; /* Tailwind red-600 */
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
